.landing-wrapper{
    max-width: 100%;
    overflow: hidden;
}
.amb-img{
    width: 100%;
    height: auto;
}

.logo{
    width: 150px;
}
.landing-head{
    display: inline;
    position: absolute;
    top: 30px;
}